{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block content %}
	<h1>Games</h1>
	{% for entry in entries %}
		<p>
			<a href="{{ path( 'app_admin_games_week', { 'id': entry[ 'week' ].id } ) }}">Week {{ entry[ 'week' ].id }}</a> - {{ entry[ 'finals' ] }}/{{ entry[ 'games' ]|length }} Final
		</p>
	{% endfor %}
{% endblock %}
