{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
	<h1>Admin Panel</h1>
	<p><a href="{{ path( 'app_admin_games' ) }}">Games</a></p>
	<p><a href="">Users</a></p>
	<p><a href="{{ path( 'app_admin_weeks' ) }}">Weeks</a></p>
	<p><a href="">Settings</a></p>
	<p><a href="{{ path( 'app_admin_news' ) }}">News</a></p>
	<p><a href="">Polls</a></p>
	<p><a href="">Update Scores</a></p>
{% endblock %}
